body {
    font-family: Trebuchet MS;
    font-size: .93rem
}

h2 {
    color: red;
    font-size: 1.2em;
    background-color: bisque;
}

#hghl {
    color: rgb(147, 22, 243);
    background-color: rgba(1, 1, 200, 10%);
    font
}